body {
    margin: 0;
    width: 100%;
}

video {
    width:100%;
    z-index: -999999;
}

.start {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.logo {
    position: absolute;
    width: 150px;
    height: auto;
    top: 3%;
    left: 5%;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.head-title {
    position: absolute;
    width: 95%;
    top: 30%;
    left: 0;
    text-align: center;
    color: #fff;
    padding: 15px 0px;
    background-color: rgba(63, 158, 35, 0.9);
}

.nav-info {
    width: 5%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #9E6123;
    position: fixed;
}

.social-icons {
    text-align: center;
    width: 100%;
}

.social-icons div {
    padding: 5px 0px;
}

.social-icons div:first-child {
    padding-top: 15px;
}

.social-icons a {
    color: #212529;
    display: block;
    position: relative;
    padding: 10px 0px;
}

.social-icons a:hover {
    color: #3F9E23;
    cursor: pointer;
}

.social-icons a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 17px;
    background-color: #3F9E23;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s cubic-bezier(1,.25,0,.75) 0s;;
    transition: all .5s cubic-bezier(1,.25,0,.75) 0s;;
}

.social-icons a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.partners-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.partners-icons div {
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.partners-icons div:first-child {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    height: auto;
}

.partners-icons div:last-child {
    padding-top: 0px;
}

.partners-icons img {
    width: 50px;
    cursor: pointer
}

.partners-icons img:hover {
    width: 60px;
}

.content-container {
    width: 95%;
    margin-top: -5px;
    color: #fff;
}

.separator {
    background-color: #9E6123;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

.circuits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3F9E23;
    padding: 15px 0px;
}

.circuits-content {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #9E6123;
    padding-top: 15px;
    border-radius: 10px;
}

.circuits-img {
    width: 95%;
}

.circuits-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.circuits-text {
    width: 95%;
    height: auto;
    padding: 15px 0px;
}

.consejos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3F9E23;
}

.consejos-content {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    background-color: #9E6123;
    border-radius: 10px;
    margin: 15px 0px;
}

.consejos-content:first-child {
    margin-bottom: 0px;
}

.consejos-text {
    width: 40%;
    margin: 15px;
    display: flex;
}

.consejos-content:nth-child(even) div.consejos-text {
    justify-content: flex-end;
}

.consejos-content:nth-child(odd) div.consejos-text {
    justify-content: flex-start;
}

.consejos-img {
    width: 40%;
    margin: 15px;
}

.consejos-img img {
    width: 100%;
    border-radius: 10px;
}

.consejos-type {
    height: 50vh;
    font-size: 3em;
}

.dorsal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3F9E23;
    padding: 15px 0px;
}

.dorsal-content {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #9E6123;
    padding-top: 15px;
    border-radius: 10px;
}

.dorsal-info {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dorsal-img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dorsal-img div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dorsal-img div:first-child {
    background: url('../media/Images/dorsal.jpg');
    background-position: center;
    background-size: cover;
}

.dorsal-img div:last-child {
    background: url('../media/Images/dorsal2.jpg');
    background-position: center;
    background-size: cover;
}

.dorsal-text {
    padding: 15px;
}

.partners {
    display: flex;
    justify-content: center;
    background-color: #3F9E23;
}

.partners-content {
    width: 95%;
    background-color: #9E6123;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    border-radius: 10px;
    padding: 15px 0px;
    flex-wrap: wrap;
}

.partners-img{
    width: 20%;
    margin: 15px;
}

.partners-img img {
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    background-color: #3F9E23;
}

.form-content {
    width: 95%;
    background-color: #9E6123;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    border-radius: 10px;
    padding: 15px 0px;
}

.form-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    width: 85%;
    
}

.form-left {
    width: 49%;
    display: inline-flex;
    flex-direction: column;
}

.form-right {
    width: 49%;
    display: inline-flex;
    flex-direction: column;
}

.form-img {
    width: 40%;
    margin: 15px;
}

.form-img img {
    width: 100%;
    border-radius: 10px;
}

.simple-button {
    text-align: center;
    padding: 5px 25px;
    background-color: #3F9E23;
    border: 3px solid #9E6123;
}

.simple-button:hover {
    background-color: #9E6123;
    border: 3px solid #3F9E23;
}

@media (max-width: 1024px){
    .nav-info{
        width: 6%;
    }
    
    .content-container {
        width: 94%;
    }
    
    .dorsal-img {
        width: 90%;
    }
}

@media (max-width: 800px){
    .nav-info{
        width: 8%;
    }
    
    .content-container {
        width: 92%;
    }
    
    .dorsal-img {
        flex-direction: column;
    }
}

@media (max-width: 530px){
    .nav-info {
        display: none;
    }
    
    .head-title {
        width: 100%;
        top: 20%;
    }
    
    .content-container {
        width: 100%;
    }
    
    .consejos-content {
        flex-direction: column-reverse;
    }
    
    .consejos-text {
        width: 90%;
    }
    
    .consejos-type {
        height: auto;
    }
    
    .consejos-img {
        width: 60%;    
    }
    
    .dorsal-img div {
        margin: 30px;
    }
    
    .form-img {
        display: none;
    }
}